h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

.body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    --second-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1620px;
}

/* Header */
.header {
    background-color: #0C70AC;
    border-bottom: 1px solid #fff;
}

.header-container {
    padding: 60px 0;
}

.nav-list {
    display: flex;
    gap: 95px;
    justify-content: center;
}

.header-link {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Inter", sans-serif}

.header-link:hover{
    color: #F4DE1F;
}

/* Section-hero */
.hero {
    background-color: #0C70AC;
}

.hero-container {
    display: flex;
    justify-content: space-between; 
    gap: 433px;
    align-items: center;
}

.title {
    font-weight: 700;
    font-size: 64px;
    text-transform: capitalize;
    color: #fff;
    padding-bottom: 20px;
}

.hero-text {
    font-weight: 700;
    font-size: 32px;
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    opacity: 0.5;
}

.hero-img {
    width: 510px;
    height: 600px;
}

/* Destinations */
.destinations {
    padding: 80px 0;
}

.destinations-title {
    font-weight: 600;
    font-size: 40px;
    color: #000;
    text-align: center;
    padding-bottom: 50px;
}

.destinations-list {
    display: flex;
    gap: 30px;
}


.destinations-item {
    text-align: center;
}

.destinations-caption {
    font-weight: 500;
    font-size: 36px;
    color: #000;
    padding: 30px 0 15px 0;
}

.destinations-text {
    font-weight: 500;
    font-size: 24px;
    color: #000;
    padding-bottom: 30px;
}

.destinations-link {
    font-weight: 500;
    font-size: 24px;
    text-decoration: underline;
    color: #7c7c7c;
    text-transform: uppercase;
}

/* Section Blog */
.blog {
    padding: 80px 150px;
    background: #e6e6e6;
}

.blog-title {
    font-weight: 600;
    font-size: 40px;
    color: #000;
    padding-bottom: 50px;
    text-align: center;
}

.blog-list {
    display: flex;
    gap: 30px;
}

.blog-item {
    background: #fff;
    border-radius: 15px;
}

.blog-wrap {
    background: #fff;
    border-radius: 15px;
    padding: 25px 40px 50px;
}

.blog-text-date {
    padding-bottom: 25px;
    font-weight: 600;
    font-size: 16px;
    color: #7c7c7c;
}

.blog-caption {
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    color: #000;
}

.blog-text {
    font-weight: 600;
    font-size: 20px;
    color: #7c7c7c;
}

/* Footer */
.footer {
    padding-top: 80px;
    background: #001c2d;
}

.footer1 {
    display: flex;
    gap: 269px;
}

.footer-title {
    font-weight: 600;
    font-size: 40px;
    color: #fff;
    padding-bottom: 50px;
}

.footer-list-img {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 500px;
}

.footer-list-div {
    display: flex;
    gap: 239px;
}

.footer-list {
    width: 173px;
}

.footer-item-two {
    padding-bottom: 25px;
}

.footer-link {
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    text-transform: capitalize;
}

/* Footer Policy */
.footer-privacy-policy {
    border-top: 1px solid #fff;
    padding: 63px 0;
    margin-top: 80px;
}

.footer-text {
    opacity: 0.5;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
}